@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@theme {
  --color-brand-500: #2d2726;
  --color-denim-500: #364d80;
  --color-salmonpink-100: #f9f3f2;
  --color-salmonpink-1100: #2d2726;
  --color-salmonpink-300: #EFE0DE;
  --color-lightolive-300: #B0AEAE;



 --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;

}

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
